h1 {
    color: rgb(136, 255, 0);
    font-family: "cursive";
    border-style: solid;
    text-shadow: 2px 2px 5px rgb(0, 247, 255);
    padding: 50px 90px;
}

* {
    background-color: rgb(242, 6, 250);

  
    /* display: flex; */
    justify-content: space-between;
    border-style: solid
}
body{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 100px;
    margin-left: 100px;
  
}
.topnav {
    overflow:hidden;

}

.topnav a{
    text-decoration: none;
    float:left;
    text-align: center;
    padding:30px;
    font-size: 20px;
    color: palegreen;
}

.topnav a:hover
{
    color:plum;
}

 .topnav a:visited {
    color:red ;
}
.topnav a:active
{
color:palegoldenrod;
}
.footer {
    display: flex;
    justify-content: flex-end;
}
img{

}