h1 {
    color: rgb(0,255,255);
    font-family: 'Oswald', sans-serif;
}

* {
    background-color: cadetblue;
    border:solid;
}

.header {
    background-color: coral;
    display: flex;
    justify-content: space-between;
    
}

.topnav {
    overflow:hidden;

}

.topnav a{
    text-decoration: none;
    float:left;
    text-align: center;
    padding:30px;
    font-size: 20px;
    color: palegreen;
}

.topnav a:hover
{
    color:plum;
}

 .topnav a:visited {
    color:red ;
}
.topnav a:active
{
color:palegoldenrod;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer {
    display: flex;
    justify-content: flex-end;
}
h3{
    color: #00FF44;
    
}
body{
    margin:50px 50px;
    border-color: #FF0089;
    border-style:dotted;
    font-family: cursive;

}
.container {
    margin:0px auto;

}
.image {
    display: inline-block;
    width:5%;
}
.image:hover img{
    transform: scale(1.3);
}
